colorama==0.4.6
iniconfig==2.0.0
packaging==24.1
pluggy==1.5.0
psycopg==3.2.2
psycopg-binary==3.2.2
pytest==8.3.3
pytest-asyncio==0.24.0
pytest-timeout==2.3.1
python-dotenv==1.0.1
typing_extensions==4.12.2
tzdata==2024.2
